@import "tailwindcss";

@font-face {
    font-family: helvetica-neue;
    src: url(../fonts/helvetica-neue-extra-black-normal.woff2) format("woff2"), 
         url(../fonts/helvetica-neue-extra-black-normal.woff) format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: helvetica-neue;
    src: url(../fonts/helvetica-neue-heavy-normal.woff2) format("woff2"), 
         url(../fonts/helvetica-neue-heavy-normal.woff) format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: helvetica-neue;
    src: url(../fonts/helvetica-neue-medium-condensed-normal.woff2) format("woff2"), 
         url(../fonts/helvetica-neue-medium-condensed-normal.woff) format("woff");
    font-weight: 700; /* Standard Bold text (h1, h2, strong) */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: helvetica-neue;
    src: url(../fonts/helvetica-neue-medium-normal.woff2) format("woff2"), 
         url(../fonts/helvetica-neue-medium-normal.woff) format("woff");
    font-weight: 400; /* Standard Body text (p, span) */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: helvetica-neue;
    src: url(../fonts/helvetica-neue-light-condensed-normal.woff2) format("woff2"), 
         url(../fonts/helvetica-neue-light-condensed-normal.woff) format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: helvetica-neue;
    src: url(../fonts/helvetica-neue-light-normal.woff2) format("woff2"), 
         url(../fonts/helvetica-neue-light-normal.woff) format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-sans: "helvetica-neue", system-ui, sans-serif;
    
    --color-*: initial;
    --color-green: #00dd68;
    --color-magenta: #fc0080;
    --color-pink: #ff61f0;
    --color-rich-orange: #ff5400;
    --color-orange: #ff9900;
    --color-white: #ffffff;
    --color-black: #080808;
    --color-purple: #871FFF;
    --color-gray: #f0f3f4;

    --text-h1: clamp(2.25rem, 5vw + 1rem, 4.5rem);
    --text-h2: clamp(1.875rem, 4vw + 1rem, 3.75rem);
    --text-h3: clamp(1.5rem, 3vw + 1rem, 3rem);
    --text-h4: clamp(1.25rem, 2vw + 1rem, 2.25rem);
    --text-h5: clamp(1.125rem, 1.5vw + 1rem, 1.75rem);
    --text-h6: clamp(1rem, 1vw + 1rem, 1.25rem);
    
    --text-h1--line-height: 1.1;
    --text-h2--line-height: 1.2;
    --text-h3--line-height: 1.25;
    --text-h4--line-height: 1.3;
    --text-h5--line-height: 1.4;
    --text-h6--line-height: 1.5;
}

@utility container {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
}