@import "tailwindcss";

@font-face {
    font-family: helvetica-neue;
    src: url(../fonts/helvetica-neue-extra-black-normal.woff2) format("woff2"), 
         url(../fonts/helvetica-neue-extra-black-normal.woff) format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: helvetica-neue;
    src: url(../fonts/helvetica-neue-heavy-normal.woff2) format("woff2"), 
         url(../fonts/helvetica-neue-heavy-normal.woff) format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: helvetica-neue;
    src: url(../fonts/helvetica-neue-medium-condensed-normal.woff2) format("woff2"), 
         url(../fonts/helvetica-neue-medium-condensed-normal.woff) format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: helvetica-neue;
    src: url(../fonts/helvetica-neue-medium-normal.woff2) format("woff2"), 
         url(../fonts/helvetica-neue-medium-normal.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: helvetica-neue;
    src: url(../fonts/helvetica-neue-light-condensed-normal.woff2) format("woff2"), 
         url(../fonts/helvetica-neue-light-condensed-normal.woff) format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: helvetica-neue;
    src: url(../fonts/helvetica-neue-light-normal.woff2) format("woff2"), 
         url(../fonts/helvetica-neue-light-normal.woff) format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-sans: "helvetica-neue", system-ui, sans-serif;
    
    --color-*: initial;
    --color-green: #00dd68;
    --color-magenta: #fc0080;
    --color-pink: #ff61f0;
    --color-rich-orange: #ff5400;
    --color-orange: #ff9900;
    --color-white: #ffffff;
    --color-black: #080808;
    --color-purple: #871FFF;
    --color-gray: #f0f3f4;

    --text-h1: clamp(3.125rem, calc(1.5rem + 7.222vw), 8rem);
    --text-h2: clamp(1.587rem, calc(0.762rem + 3.668vw), 4.0625rem);
    --text-h3: clamp(4.813rem, calc(3.75rem + 4.722vw), 8rem);
}

@layer base {
    h1 {
        font-size: var(--text-h1);
        @apply font-sans font-[900] leading-[0.8] text-black uppercase text-pretty;
    }

    h2 {
        font-size: var(--text-h2);
         @apply font-sans font-[900] leading-none text-black text-pretty;
    }

    h3 {
        font-size: var(--text-h3);
        @apply font-sans font-[900] leading-[0.8] text-black uppercase text-pretty;
    }
}

@utility container {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
}