---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="grid grid-col gap-y-10 px-[3.125rem]">
		<header class="pt-[2.875rem]">
			<div class="flex items-center justify-between">
				<a href="https://ethan.global/" target="_blank" class="hover:scale-105 transition-transform duration-500">
					<svg xmlns="http://www.w3.org/2000/svg" width="207" height="46" viewBox="0 0 207 46" fill="none" role="img" aria-label="Ethan Group logo">
						<g clip-path="url(#clip0_2002_7)">
						<path d="M109.292 17.9554H98.8832L93.1752 27.5316H109.292V45.658H120.204V0H109.292V17.9554ZM139.343 0.171004L122.387 45.829H133.467L136.825 35.9108L139.847 27.1896L144.547 13.6803L149.08 27.1896L152.102 35.9108L155.46 45.829H166.876L150.088 0.171004H139.343ZM196.591 0.171004V28.2156L179.635 0.513011L179.467 0.171004H168.891V45.829H179.299V17.9554L196.423 45.829H207V0.171004H196.591ZM41.635 0.171004H78.5693V9.74721H65.6423V45.829H54.7299V9.74721H41.8029V0.171004H41.635Z" fill="#231F20"/>
						<path d="M39.6205 0.171005H5.87598V9.74721H39.6205V0.171005Z" fill="#231F20"/>
						<path d="M39.4526 18.1264H5.70803L0 27.7026H33.7445L39.4526 18.1264Z" fill="#231F20"/>
						<path d="M39.6205 36.4238H5.87598V46H39.6205V36.4238Z" fill="#231F20"/>
						<path d="M93.1751 0.171005H82.2627V45.829H93.1751V0.171005Z" fill="#231F20"/>
						</g>
						<defs>
							<clipPath id="clip0_2002_7">
							<rect width="207" height="46" fill="white"/>
							</clipPath>
						</defs>
					</svg>
				</a>
				<a href="#" target="_blank" class="font-sans font-[900] text-[1.5rem] leading-none uppercase text-white bg-black px-4 pt-4 pb-2 border-2 border-black hover:bg-transparent hover:text-black hover:cursor-pointer transition-colors duration-500">
					Request Your Seat
				</a>
			</div>
		</header>
		<main>
			<h1>
				Resilience By Design
			</h1>

			<section aria-label="Event Schedule and Location">
				<ul class="flex flex-row items-center gap-4 text-[1.25rem]">
					<!-- Date Component -->
					<li class="flex items-center gap-2">
						<svg xmlns="http://www.w3.org/2000/svg" width="25" height="28" viewBox="0 0 25 28" fill="none" role="img" aria-hidden="true">
							<path d="M21.1987 27.2769H3.06253C1.37924 27.2769 0.0151367 25.8936 0.0151367 24.1866V5.79139C0.0151367 4.08441 1.37924 2.70111 3.06253 2.70111H21.1987C22.8782 2.71267 24.2347 4.08827 24.2461 5.79139V24.1712C24.2461 25.8782 22.882 27.2654 21.1987 27.2769ZM3.06253 4.61616C2.43177 4.61616 1.91881 5.13634 1.91881 5.77598V24.1712C1.91881 24.8109 2.43177 25.331 3.06253 25.331H21.1987C21.8294 25.331 22.3424 24.8109 22.3424 24.1712V5.79139C22.3424 5.15176 21.8294 4.63157 21.1987 4.63157L3.06253 4.61616Z" fill="black"/>
							<path d="M7.07127 8.14184C6.54691 8.14184 6.12134 7.71028 6.12134 7.17469V0.967157C6.12134 0.435413 6.54691 0 7.07127 0C7.59564 0 8.02501 0.43156 8.02501 0.967157V7.17854C8.02501 7.4367 7.92621 7.67946 7.74763 7.86441C7.56904 8.04551 7.32586 8.1457 7.07127 8.1457V8.14184Z" fill="black"/>
							<path d="M17.1711 8.14184C16.6468 8.14184 16.2212 7.71028 16.2212 7.17469V0.967157C16.2212 0.435413 16.6468 0 17.1711 0C17.6955 0 18.1249 0.43156 18.1249 0.967157V7.17854C18.1249 7.43285 18.0223 7.67946 17.8475 7.86056C17.6727 8.04166 17.4257 8.14184 17.1749 8.14184H17.1711Z" fill="black"/>
							<path d="M23.2962 12.1723H0.949935C0.425571 12.1723 0 11.7407 0 11.209C0 10.6772 0.425571 10.2418 0.949935 10.2418H23.2962C23.8206 10.2418 24.2461 10.6734 24.2461 11.209C24.2461 11.7446 23.8206 12.1723 23.2962 12.1723Z" fill="black"/>
						</svg>
						<time datetime="2026-07-02">Thurs 2 July 2026</time>
					</li>

					<li aria-hidden="true">|</li>

					<!-- Venue Name Component -->
					<li class="flex items-center gap-2">
						<svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27" fill="none" role="img" aria-hidden="true">
							<path d="M13.9051 0.143232C13.6615 -0.0477439 13.3256 -0.0477439 13.0819 0.143232L0.247063 10.3505C-0.0361075 10.5745 -0.0822051 10.9893 0.141697 11.2791C0.3656 11.5623 0.780478 11.6084 1.07023 11.3845L2.43999 10.2979V26.3464C2.43999 26.7086 2.73633 27.0049 3.09853 27.0049H23.9083C24.2705 27.0049 24.5668 26.7086 24.5668 26.3464V10.2913L25.9366 11.3779C26.0551 11.4766 26.2 11.5227 26.3449 11.5227C26.5358 11.5227 26.7334 11.4371 26.8585 11.2725C27.0824 10.9893 27.0363 10.5745 26.7532 10.344L13.9051 0.143232ZM23.2432 25.6813H3.75048V9.24421L13.4968 1.49982L23.2432 9.25079V25.6879V25.6813Z" fill="black"/>
						</svg>
						<span>Aori Restaurant</span>
					</li>

					<li aria-hidden="true">|</li>

					<!-- Address Component -->
					<li class="flex items-center gap-2">
						<svg width="23" height="31" viewBox="0 0 23 31" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M11.3653 6.41846C8.69872 6.41846 6.53052 8.62245 6.53052 11.333C6.53052 14.0436 8.69872 16.2476 11.3653 16.2476C14.0318 16.2476 16.2 14.0436 16.2 11.333C16.2 8.62245 14.0318 6.41846 11.3653 6.41846ZM11.3653 14.7354C9.52062 14.7354 8.01813 13.2081 8.01813 11.333C8.01813 9.45792 9.52062 7.93063 11.3653 7.93063C13.2099 7.93063 14.7124 9.45792 14.7124 11.333C14.7124 13.2081 13.2099 14.7354 11.3653 14.7354Z" fill="black"/>
							<path d="M19.4134 3.38254C14.9766 -1.12751 7.75418 -1.12751 3.31737 3.38254C-0.450016 7.21211 -1.08597 13.2948 1.80744 17.8427L8.84758 28.9117C9.40172 29.785 10.3463 30.3067 11.3654 30.3067C12.3844 30.3067 13.329 29.785 13.8832 28.9117L20.9233 17.8427C23.8167 13.2948 23.1807 7.21211 19.4134 3.38254ZM19.6737 17.0223L12.6336 28.0914C12.3509 28.5375 11.886 28.7946 11.3616 28.7946C10.8373 28.7946 10.3761 28.5375 10.0897 28.0914L3.0496 17.0223C0.53181 13.068 1.08223 7.77917 4.36242 4.4524C6.2926 2.49036 8.82526 1.51123 11.3579 1.51123C13.8906 1.51123 16.4233 2.49036 18.3534 4.4524C21.6299 7.78295 22.1803 13.068 19.6663 17.0223H19.6737Z" fill="black"/>
						</svg>
						<address>39 Lime St, Sydney</address>
					</li>

					<li aria-hidden="true">|</li>

					<!-- Time Range Component -->
					<li class="flex items-center gap-2">
						<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
							<path d="M13.6385 0C10.0223 0 6.55269 1.4371 3.99334 3.99334C1.4371 6.55269 0 10.0223 0 13.6385C0 17.2546 1.4371 20.7242 3.99334 23.2836C6.55269 25.8398 10.0223 27.2769 13.6385 27.2769C17.2546 27.2769 20.7242 25.8398 23.2836 23.2836C25.8398 20.7242 27.2769 17.2546 27.2769 13.6385C27.2738 10.0223 25.8367 6.55581 23.2773 3.99957C20.718 1.44334 17.2546 0.00311736 13.6385 0ZM13.6385 25.3286C10.5367 25.3286 7.56583 24.0972 5.37121 21.9057C3.17659 19.7142 1.94835 16.7402 1.94835 13.6385C1.94835 10.5367 3.17971 7.56583 5.37121 5.37121C7.56272 3.17659 10.5367 1.94835 13.6385 1.94835C16.7402 1.94835 19.7111 3.17971 21.9057 5.37121C24.1003 7.56272 25.3286 10.5367 25.3286 13.6385C25.3254 16.7371 24.0941 19.708 21.8995 21.8995C19.7048 24.091 16.7371 25.3223 13.6385 25.3286ZM19.1998 17.8188C19.5801 18.1992 19.5801 18.8164 19.1998 19.1967C18.8195 19.577 18.2023 19.577 17.822 19.1967L13.2363 14.6111C12.8685 14.2463 12.6627 13.7507 12.6658 13.2332V4.86932C12.6658 4.33001 13.1023 3.8967 13.6385 3.8967C14.1746 3.8967 14.6111 4.33313 14.6111 4.86932V13.2332L19.1967 17.8188H19.1998Z" fill="black"/>
						</svg>
						<span>12.00 - 2:30 PM</span>
					</li>
				</ul>
			</section>

			<!-- Editorial Banner Image Block -->
			<figure>
				
			</figure>
		</main>
	</div>
</Layout>
