---
export interface Props {
    disableCta?: boolean;
}

const { disableCta = false } = Astro.props;
---
<header id="main-header" class="fixed top-0 left-0 right-0 z-50 px-5 bg-white transition-shadow duration-500">
    <div class="w-full max-w-360 sm:px-0 mx-auto pt-14.5 pb-5 flex flex-row items-center justify-between gap-y-6">
        <div class="flex flex-row gap-3 sm:gap-6 items-center">
            <a href="https://ethan.global/" target="_blank" class="hover:scale-105 transition-transform duration-500" aria-label="Ethan Global logo">
                <svg xmlns="http://www.w3.org/2000/svg" width="155" height="34" viewBox="0 0 207 46" fill="none" class="w-[clamp(70px,15vw,155px)] h-auto">
                    <g clip-path="url(#clip0_2002_7)">
						<path d="M109.292 17.9554H98.8832L93.1752 27.5316H109.292V45.658H120.204V0H109.292V17.9554ZM139.343 0.171004L122.387 45.829H133.467L136.825 35.9108L139.847 27.1896L144.547 13.6803L149.08 27.1896L152.102 35.9108L155.46 45.829H166.876L150.088 0.171004H139.343ZM196.591 0.171004V28.2156L179.635 0.513011L179.467 0.171004H168.891V45.829H179.299V17.9554L196.423 45.829H207V0.171004H196.591ZM41.635 0.171004H78.5693V9.74721H65.6423V45.829H54.7299V9.74721H41.8029V0.171004H41.635Z" fill="#231F20"/>
						<path d="M39.6205 0.171005H5.87598V9.74721H39.6205V0.171005Z" fill="#231F20"/>
						<path d="M39.4526 18.1264H5.70803L0 27.7026H33.7445L39.4526 18.1264Z" fill="#231F20"/>
						<path d="M39.6205 36.4238H5.87598V46H39.6205V36.4238Z" fill="#231F20"/>
						<path d="M93.1751 0.171005H82.2627V45.829H93.1751V0.171005Z" fill="#231F20"/>
						</g>
						<defs>
							<clipPath id="clip0_2002_7">
							<rect width="207" height="46" fill="white"/>
							</clipPath>
						</defs>
                </svg>
            </a>
            <div class="min-w-px w-px max-w-px h-8.5 bg-black block">&nbsp;</div>
            <a href="https://www.cohesity.com/" target="_blank" class="hover:scale-105 transition-transform duration-500" aria-label="Cohesity logo">
                <svg xmlns="http://www.w3.org/2000/svg" width="237" height="34" viewBox="0 0 237 34" fill="none" class="w-[clamp(120px,20vw,237px)] h-auto">
                    <g clip-path="url(#clip0_2021_295)">
						<path d="M157.651 0.512699H144.458C137.314 0.512699 131.542 6.27044 132.115 13.2728C132.609 19.3409 137.791 24.1306 144.084 24.1306H148.656C149.863 24.1306 150.974 23.3312 151.204 22.1641C151.516 20.5956 150.295 19.2161 148.755 19.2161H144.362C140.617 19.2161 137.328 16.4435 137.091 12.7669C136.834 8.76647 140.072 5.42718 144.084 5.42718L156.595 5.40357C157.024 5.40357 157.404 5.12361 157.528 4.71885L158.468 1.58532C158.629 1.05238 158.221 0.516072 157.655 0.516072L157.651 0.512699Z" fill="black"/>
						<path d="M148.875 9.82222H144.276C143.083 9.82222 141.999 10.6149 141.759 11.7651C141.43 13.3436 142.654 14.7367 144.204 14.7367H148.628C152.356 14.7367 155.618 17.4992 155.868 21.1556C156.142 25.1694 152.901 28.5222 148.875 28.5222H136.22C135.864 28.5222 135.552 28.7516 135.452 29.0889L134.461 32.4046C134.307 32.9206 134.701 33.4367 135.246 33.4367H148.553C155.271 33.4367 160.992 28.0298 160.879 21.4254C160.769 15.0065 155.426 9.81885 148.872 9.81885L148.875 9.82222Z" fill="black"/>
						<path d="M29.6824 26.1476L26.3147 24.3262C25.8963 24.1002 25.3784 24.225 25.1109 24.6129C24.2775 25.8272 23.1458 26.8323 21.75 27.5946C20.361 28.3536 18.828 28.7415 17.1922 28.7415C15.5563 28.7415 14.0782 28.4514 12.7132 27.8813C11.3483 27.3113 10.1514 26.5018 9.14994 25.473C8.14853 24.4442 7.34945 23.1929 6.78015 21.756C6.20742 20.3123 5.91934 18.7135 5.91934 16.9966C5.91934 15.2798 6.20742 13.6438 6.78015 12.2171C7.34945 10.7937 8.14853 9.54901 9.14994 8.52024C10.1479 7.49484 11.3483 6.68532 12.7132 6.11191C14.0782 5.54187 15.5871 5.25179 17.1922 5.25179C18.7972 5.25179 20.3576 5.64306 21.7431 6.41885C23.1492 7.20476 24.2844 8.20317 25.1178 9.39048C25.3853 9.77163 25.9065 9.89305 26.3181 9.66369L29.6379 7.84226C29.8642 7.71746 30.0288 7.50159 30.0871 7.25198C30.1454 7.00238 30.0871 6.73929 29.9397 6.53016C29.2743 5.6127 28.5061 4.75258 27.6659 3.97004C26.8119 3.18075 25.8448 2.47917 24.7885 1.88214C23.7288 1.28512 22.5525 0.81627 21.2973 0.489087C20.0352 0.168651 18.6531 0 17.1887 0C14.8052 0 12.5452 0.414881 10.4703 1.23115C8.39202 2.04742 6.55037 3.22123 4.9968 4.71548C3.44323 6.20972 2.20861 8.02103 1.32722 10.0988C0.445837 12.1766 0 14.5006 0 17.0034C0 19.5062 0.445837 21.8302 1.32722 23.9079C2.20861 25.9857 3.44323 27.797 4.9968 29.2913C6.55037 30.7855 8.38859 31.956 10.4669 32.7722C12.5417 33.5885 14.8052 34.0034 17.1887 34.0034C20.1621 34.0034 22.724 33.3726 24.8057 32.1212C26.8428 30.8968 28.585 29.3351 29.9774 27.4766C30.1351 27.2675 30.1934 27.001 30.1351 26.748C30.0768 26.495 29.9122 26.2758 29.6824 26.151V26.1476Z" fill="black"/>
						<path d="M61.6558 4.88075C60.2017 3.3494 58.4286 2.14187 56.3881 1.28512C54.3543 0.431746 52.0772 0 49.6216 0C47.1661 0 44.8923 0.431746 42.8586 1.28512C40.8181 2.13849 39.0484 3.3494 37.5909 4.88075C36.1402 6.40536 34.9982 8.22341 34.2025 10.2843C33.4069 12.3385 33.0022 14.5984 33.0022 16.9966C33.0022 19.3948 33.4069 21.6581 34.2025 23.7123C35.0016 25.7732 36.1402 27.5913 37.5909 29.1159C39.0484 30.6472 40.8215 31.8581 42.8586 32.7115C44.8923 33.5649 47.1695 33.9966 49.6216 33.9966C52.0737 33.9966 54.3509 33.5649 56.3881 32.7115C58.4252 31.8581 60.1982 30.6472 61.6558 29.1159C63.1065 27.5913 64.2451 25.7732 65.0441 23.7123C65.8398 21.6581 66.2445 19.3982 66.2445 16.9966C66.2445 14.595 65.8398 12.3351 65.0441 10.2843C64.2451 8.22341 63.1065 6.40536 61.6558 4.88075ZM59.5535 21.7155C59.0391 23.1389 58.3086 24.3903 57.3792 25.4325C56.4601 26.4647 55.3318 27.2843 54.0354 27.8645C52.739 28.4446 51.2541 28.7415 49.625 28.7415C47.996 28.7415 46.4973 28.4446 45.1873 27.8645C43.8738 27.2843 42.742 26.4647 41.8229 25.4325C40.8935 24.3937 40.1733 23.1456 39.676 21.7222C39.1719 20.2853 38.9181 18.6966 38.9181 17C38.9181 15.3034 39.1719 13.7046 39.676 12.2508C40.1699 10.8173 40.8935 9.56925 41.816 8.54722C42.7352 7.52857 43.8703 6.71567 45.1838 6.13214C46.4973 5.55198 47.9926 5.25516 49.6216 5.25516C51.2506 5.25516 52.7356 5.54861 54.032 6.13214C55.3318 6.71567 56.4601 7.52857 57.3792 8.54722C58.3051 9.57262 59.0356 10.8206 59.5466 12.2575C60.0645 13.7113 60.3251 15.3067 60.3251 17C60.3251 18.6933 60.0645 20.2786 59.5466 21.7155H59.5535Z" fill="black"/>
						<path d="M71.4298 33.4401H75.3669C75.8745 33.4401 76.286 33.0353 76.286 32.5395V19.1621H92.9535V32.5395C92.9535 33.0387 93.365 33.4401 93.8726 33.4401H97.8097C98.3172 33.4401 98.7288 33.0353 98.7288 32.5395V1.41667C98.7288 0.917461 98.3172 0.512699 97.8097 0.512699H93.8726C93.365 0.512699 92.9535 0.917461 92.9535 1.41667V13.9036H76.286V1.41667C76.286 0.917461 75.8745 0.512699 75.3669 0.512699H71.4298C70.9223 0.512699 70.5142 0.917461 70.5142 1.41667V32.5395C70.5142 33.0387 70.9257 33.4401 71.4298 33.4401Z" fill="black"/>
						<path d="M104.988 33.4401H127.187C127.695 33.4401 128.106 33.0353 128.106 32.5361V29.0821C128.106 28.5829 127.695 28.1816 127.187 28.1816H109.84V19.2532H126.12C126.628 19.2532 127.039 18.8484 127.039 18.3492V14.8952C127.039 14.396 126.628 13.9946 126.12 13.9946H109.84V5.76786H127.187C127.695 5.76786 128.106 5.3631 128.106 4.86389V1.41667C128.106 0.917461 127.695 0.512699 127.187 0.512699H104.988C104.48 0.512699 104.072 0.917461 104.072 1.41667V32.5395C104.072 33.0387 104.484 33.4435 104.988 33.4435V33.4401Z" fill="black"/>
						<path d="M166.801 0.512699H170.738C171.246 0.512699 171.657 0.917461 171.657 1.41667V32.5395C171.657 33.0387 171.246 33.4435 170.738 33.4435H166.801C166.294 33.4435 165.882 33.0387 165.882 32.5395V1.41667C165.882 0.917461 166.294 0.512699 166.801 0.512699Z" fill="black"/>
						<path d="M177.069 5.77123H186.891V32.5395C186.891 33.0387 187.303 33.4401 187.807 33.4401H191.751C192.259 33.4401 192.667 33.0353 192.667 32.5395V5.77123H202.489C202.996 5.77123 203.408 5.36647 203.408 4.86726V1.41667C203.408 0.917461 202.996 0.512699 202.489 0.512699H177.069C176.562 0.512699 176.154 0.917461 176.154 1.41329V4.86726C176.154 5.36647 176.565 5.77123 177.069 5.77123Z" fill="black"/>
						<path d="M218.751 19.6579V32.5395C218.751 33.0387 219.163 33.4435 219.671 33.4435H223.652C224.16 33.4435 224.568 33.0387 224.568 32.5395V19.6579L236.839 1.92262C237.031 1.64603 237.051 1.28849 236.89 0.991667C236.732 0.698215 236.42 0.512699 236.077 0.512699H231.475C231.17 0.512699 230.882 0.664485 230.714 0.914088L221.656 14.2544L212.599 0.914088C212.427 0.664485 212.143 0.512699 211.838 0.512699H207.235C206.896 0.512699 206.584 0.698215 206.426 0.991667C206.268 1.28849 206.285 1.64603 206.477 1.92262L218.748 19.6579H218.751Z" fill="black"/>
					</g>
					<defs>
						<clipPath id="clip0_2021_295">
						<rect width="237" height="34" fill="white"/>
						</clipPath>
					</defs>
                </svg>
            </a>
        </div>
        {
            disableCta ? (
                <span class="font-display text-sm sm:text-base md:text-lg lg:text-[1.375rem] leading-4 uppercase text-white bg-black px-2 sm:px-3 md:px-4 py-2 sm:py-2.5 md:py-3 border-2 border-black text-nowrap opacity-50 pointer-events-none">
                    <span class="hidden sm:inline">RESERVE YOUR PLACE</span>
                    <span class="inline sm:hidden">RSVP</span>
                </span>
            ) : (
                <a href="#registration-form" target="_self" class="font-display text-sm sm:text-base md:text-lg lg:text-[1.375rem] leading-4 uppercase text-white bg-black px-2 sm:px-3 md:px-4 py-2 sm:py-2.5 md:py-3 border-2 border-black text-nowrap hover:bg-transparent hover:text-black hover:cursor-pointer hover:scale-105 transition-all duration-500">
                    <span class="hidden sm:inline">RESERVE YOUR PLACE</span>
                    <span class="inline sm:hidden">RSVP</span>
                </a>
            )
        }
    </div>
</header>

<script>
    // Client-side script for shadow on scroll
    const header = document.getElementById('main-header');

    if (header) {
        window.addEventListener('scroll', () => {
            if (window.scrollY > 10) {
                header.classList.add('shadow-xl');
            } else {
                header.classList.remove('shadow-xl');
            }
        });
    }

    // Add padding to main content to account for fixed header
    const mainContent = document.querySelector('main');
    if (mainContent && header) {
        const updatePadding = () => {
            const headerHeight = header.offsetHeight;
            mainContent.style.paddingTop = `${headerHeight}px`;
        };

        // Initial padding
        updatePadding();

        // Update padding on window resize
        window.addEventListener('resize', updatePadding);
    }
</script>

<style>
    /* Smooth bounce transition */
    #main-header > div {
        transition: transform 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
</style>
